package="exelearning"
name="exelearning"
version="{{VERSION}}"
app_version="{{APP_VERSION}}"
displayname="eXeLearning"
maintainer="INTEF"
maintainer_url="https://exelearning.net"
distributor="INTEF"
distributor_url="https://exelearning.net"
support_url="https://exelearning.net"
description="Native eXeLearning authoring server for Synology DSM."
os_min_ver="7.2-64570"
install_type="volume"
arch="x86_64"
startable="yes"
instuninst_restart_services="nginx.service"
startstop_restart_services="nginx.service"
dsmuidir="ui"
dsmappname="SYNO.SDS.eXeLearning"
adminurl="/exelearning/login/synology"
helpurl="https://exelearning.net"
extractsize="{{EXTRACT_SIZE}}"
