package="exelearning"
name="exelearning"
version="{{VERSION}}"
displayname="eXeLearning"
maintainer="INTEF"
maintainer_url="https://exelearning.net"
distributor="INTEF"
distributor_url="https://exelearning.net"
support_url="https://exelearning.net"
description="eXeLearning authoring tool to create interactive educational contents and export to SCORM, IMS and HTML5."
os_min_ver="7.0-40000"
install_type="system"
arch="apollolake x86_64 noarch armv8 aarch64 geminilake broadwell v1000 rtd1296 rtd1619b"
startable="yes"
dsmuidir="ui"
dsmappname="SYNO.SDS.eXeLearning"
adminport="8085"
adminurl="/"
helpurl="https://exelearning.net"
